/* Main Page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url("../images/background.jpg") no-repeat center center/cover;
    overflow: hidden;
}

.container #logo {
    height: auto;
    width: 80vw;
}

.container button {
    font-size: 30px;
    text-align: center;
    padding: 20px 5px 5px 20px;
    margin: 20px;
    width: 50%;
    height: 60px;
    background: #777;
    color: white;
    border: 2px solid black;
}

/* How To Play */
.how-to-play-container {
    display: none;
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.how-to-play {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.how-to-play h2 {
    text-align: center;
    font-size: 60px;
}

.how-to-play span {
    font-size: 30px;
}

.how-to-play .closeButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
}