@import url(//db.onlinewebfonts.com/c/9a402d6a80ceda873798bf79af582916?family=Minecrafter);

*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Minecrafter";
}

body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
}

.closeButton {
    text-align: center;
    font-size: 25px;
    padding: 15px 10px 10px;
    background: #e00;
    border: 3px solid black;
    border-radius: 8px;
}