@font-face {
    font-family: "Minecraft Font";
    src: url("../font/minecrafter/Minecrafter.Reg.ttf") format("truetype");
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Minecraft Font";
}

body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
}

.closeButton {
    text-align: center;
    font-size: 25px;
    padding: 15px 10px 10px;
    background: #e00;
    border: 3px solid black;
    border-radius: 8px;
}